<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <firebase-ui></firebase-ui>
  <!-- Since the afAuth object is left public in the contructor we can call it here -->
  <h1 *ngIf="afAuth.auth.currentUser">Welcome {{afAuth.auth.currentUser.uid}}</h1>
  <ion-button *ngIf="afAuth.auth.currentUser" (click)="logOut()">Sign out</ion-button>
</ion-content>