<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Prestamo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Fecha prestamo</ion-label>
    <ion-input type="date" [(ngModel)]="reserva.dateReservation"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Lugar prestamo</ion-label>
    <ion-select multiple="false" placeholder="Seleccione Estaciòn" [(ngModel)]="reserva.originReservation">
      <ion-select-option value="Station A">Station A</ion-select-option>
      <ion-select-option value="Station B">Station B</ion-select-option>
      <ion-select-option value="Station C">Station C</ion-select-option>
      <ion-select-option value="Station D">Station D</ion-select-option>
      <ion-select-option value="Station E">Station E</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo bicicleta</ion-label>
    <ion-select multiple="false" placeholder="Seleccione Tipo Bicicleta" [(ngModel)]="reserva.bykeType">
      <ion-select-option value="Adulto">Adulto</ion-select-option>
      <ion-select-option value="Niño">Niño</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="primary" expand="block" (click)="generateBooking()">
    Generar Reserva
  </ion-button>
  <ion-button color="secondary" expand="block" (click)="displayReservation()">Confirmar Reserva</ion-button>
</ion-content>