<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title text-center>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <div >
          <ion-button class="  btn-success btn-block" [routerLink]="[ '/login']"
            style="width: 50%; margin-left: 25%; margin-top:25%;">Sign in</ion-button>
        </div>
        <div >
          <ion-button class="  btn-success btn-block" (click)="onClickLogout()"
            style="width: 50%; margin-left: 25%;">Sign off</ion-button>
        </div> -->

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>