<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [routerLink]="[ '/home']">
      <ion-button color="secondary">Inicio</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="presentAlertConfirm()">Camara</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="presentAlertConfirm()">Salir</ion-button>
    </ion-item>
    <ion-button (click)="takePicture()">tomar</ion-button>
    <img *ngIf="image" [src]="image" alt="image">
  </ion-list>
</ion-content>