<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [routerLink]="[ '/home']">
      <ion-button color="secondary">Inicio</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="takePicture()">Camara</ion-button>
      <img *ngIf="image" [src]="image" alt="image">
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="scanerCode()">QR<ion-icon name="qr-scanner">
        </ion-icon>
      </ion-button>
      <img *ngIf="image" [src]="image" alt="image">
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="presentAlertConfirm()">Salir</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="secondary" (click)="activateFlashlight()">
        Activate Flashlight
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{scannedCode}}
    </ion-card-content>
  </ion-card>

</ion-content>