<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Prestamo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="n">
  <p-panel header="Prestamo de Bicicletas">
    <form (ngSubmit)="crearReserva()">
      <ion-item>
        <ion-input type="date" (click)="Calendario()" name="fecha" [(ngModel)]="data.fecha">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ruta</ion-label>
        <ion-select multiple="false" name="ruta" placeholder="Seleccione Estaciòn" [(ngModel)]="data.ruta">
          <ion-select-option value="Station A">Station A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> Cantidad Bicicletas: </ion-label>
        <br>
        <ion-label>Adulto </ion-label>
        <ion-input type="number" id="adulto" name="adulto" value="0" min="0" [(ngModel)]="data.adulto"></ion-input>
        <p>NiÑo <br></p>
        <ion-input type="number" id="nino" name="nino" value="0" min="0" [(ngModel)]="data.nino"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="block" [routerLink]="[ '/lista-prestamos']">
        Mostrar Prestamos
      </ion-button>
      <ion-button color="secondary" expand="block" type="submit">Confirmar</ion-button>
    </form>
  </p-panel>

</ion-content>