<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Lista Prestamos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Origin</th>
        <th scope="col">bikeType</th>
      </tr>
    </thead>
    <tbody  *ngFor="let p of prestamo;let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{p.data.dateReservation}}</td>
        <td>{{p.data.origin}}</td>
        <td>{{p.data.bikeType}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>