<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Prestamo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="n">
  <p-panel header="Prestamo de Bicicletas">
    <form id="formEjemplo" (ngSubmit)="crearReserva()" [noValidate]="false">

      <ion-item>
        <ion-input type="date" (click)="Calendario()" name="fecha" [(ngModel)]="data.fecha" [required]="true">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Ruta</ion-label>
        <ion-select multiple="false" name="ruta" placeholder="Seleccione Estaciòn" [(ngModel)]="data.ruta"
          [required]="true">
          <ion-select-option *ngFor="let c of rutas">
            {{c.ruta}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label> Cantidad Bicicletas</ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Adulto </ion-label>
        <ion-select multiple="false" id="adulto" name="adulto" [required]="true" placeholder="Seleccione Bicicletas"
          [(ngModel)]="data.adulto">
          <ion-select-option *ngFor="let c of bici">
            {{c.b}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label> Niño </ion-label>
        <ion-select multiple="false" id="nino" name="nino" [required]="true" placeholder="Seleccione Bicicletas"
          [(ngModel)]="data.nino">
          <ion-select-option *ngFor="let c of bici">
            {{c.b}}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <!-- <ion-button color="primary" expand="block" [routerLink]="[ '/lista-prestamos']">
        Mostrar Prestamos
      </ion-button> -->
      <ion-button color="secondary" id="btnLimpiar" expand="block" type="submit">Confirmar</ion-button>

    </form>
  </p-panel>
  <p-panel header="Lista Prestamos">
    <app-lista-prestamos></app-lista-prestamos>
  </p-panel>
</ion-content>